broker/old-php/broker.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 


<definitions name="Broker"
	targetNamespace="http://ideais.net/broker" 
	xmlns:tns="http://ideais.net/broker"
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
	xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
	xmlns='http://schemas.xmlsoap.org/wsdl/'> 

    <message name='ServiceInfo'> 
		<part name='return' type='tns:ApplicationInfo' /> 
	</message> 

    <wsdl:message name="User">
    	<wsdl:part name="User" element="tns:User"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Artifact">
    	<wsdl:part name="Artifact" element="tns:Artifact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Subscription">
    	<wsdl:part name="namespace" type="xsd:string">
    	</wsdl:part>
    	<wsdl:part name="callbackWS" type="xsd:string"></wsdl:part>
    	<wsdl:part name="Subscription" type="tns:Subscription"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Pong">
    	<wsdl:part name="Pong" type="xsd:boolean"></wsdl:part>
    </wsdl:message>
    <portType name='aboutPortType'>
		<operation name='about'> 
			<output message='tns:ServiceInfo' /> 
		</operation>
	</portType>

    <wsdl:portType name="publishPortType">
    	<wsdl:operation name="publish">
    		<wsdl:input message="tns:Artifact"></wsdl:input>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="subscribePortType">
    	<wsdl:operation name="subscribe">
    		<wsdl:input message="tns:Subscription"></wsdl:input>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="pingPortType">
    	<wsdl:operation name="ping">
    		<wsdl:output message="tns:Pong"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <binding name='aboutBinding' type='tns:aboutPortType'> 
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='about'> 
			<soap:operation soapAction='urn:broker#about' style="rpc" /> 
			<output> 
				<soap:body
					use='encoded'
					namespace='urn:broker' 
					encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'
				/>
			</output>
		</operation> 
	</binding> 

    <wsdl:binding name="publishSOAPBinding" type="tns:publishPortType"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="publish"><soap:operation soapAction="http://ideais.net/broker/publish"/><wsdl:input><soap:body use="literal" parts=" Artifact"/></wsdl:input></wsdl:operation></wsdl:binding>
    <wsdl:binding name="subscribeSOAPBinding" type="tns:subscribePortType"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="subscribe"><soap:operation soapAction="http://ideais.net/broker/subscribe"/><wsdl:input><soap:body use="literal" parts=" namespace callbackWS"/></wsdl:input></wsdl:operation></wsdl:binding>
    <wsdl:binding name="pingSOAPBinding" type="tns:pingPortType"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="ping"><soap:operation soapAction="http://ideais.net/broker/ping"/><wsdl:output><soap:body use="literal" parts=" Pong"/></wsdl:output></wsdl:operation></wsdl:binding>
    <service name='about'> 
		<port name='aboutPort' binding='tns:aboutBinding'> 
			<soap:address location='http://localhost/~magsilva/Projects/ideais/broker/Broker.service.php' />
		</port> 
	</service>
	<wsdl:service name="publish"><wsdl:port name="publishPortType" binding="tns:publishSOAPBinding"><soap:address location="http://localhost/~magsilva/Projects/ideais/broker/Broker.service.php"/></wsdl:port></wsdl:service>
	<wsdl:service name="subscribe"><wsdl:port name="subscribePortType" binding="tns:subscribeSOAPBinding"><soap:address location="http://localhost/~magsilva/Projects/ideais/broker/Broker.service.php"/></wsdl:port></wsdl:service>
	<wsdl:service name="ping"><wsdl:port name="pingPortType" binding="tns:pingSOAPBinding"><soap:address location="http://localhost/~magsilva/Projects/ideais/broker/Broker.service.php"/></wsdl:port></wsdl:service></definitions>